In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
dataset = pd.read_csv("Data.csv")
dataset = dataset.iloc[:,1:]
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values   #Here let's not worry about Y

In [ ]:
#Class
class SimpleImputer:
    import numpy as np
    def __init__(self,values_type=np.nan , method="mean"):
        self.values_type = values_type
        self.method = method
    
    def _perform(X):
        
        if self.method = 'mean' and self.values_type = np.nan:
            
            
    
    def fit(self, X):
        self.X = X
        new_X = _perform(X)

In [37]:
dataset

    Age   Salary Purchased
0  44.0  72000.0        No
1  27.0  48000.0       Yes
2  30.0  54000.0        No
3  38.0  61000.0        No
4  40.0      NaN       Yes
5  35.0  58000.0       Yes
6   NaN  52000.0        No
7  48.0  79000.0       Yes
8  50.0  83000.0        No
9  37.0  67000.0       Yes

In [38]:
X

array([[4.4e+01, 7.2e+04],
       [2.7e+01, 4.8e+04],
       [3.0e+01, 5.4e+04],
       [3.8e+01, 6.1e+04],
       [4.0e+01,     nan],
       [3.5e+01, 5.8e+04],
       [    nan, 5.2e+04],
       [4.8e+01, 7.9e+04],
       [5.0e+01, 8.3e+04],
       [3.7e+01, 6.7e+04]])

In [39]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan,strategy = 'mean')
imputer.fit(X[:,1:3])
X = imputer.transform(X[:,1:3])

In [40]:
X

array([[72000.        ],
       [48000.        ],
       [54000.        ],
       [61000.        ],
       [63777.77777778],
       [58000.        ],
       [52000.        ],
       [79000.        ],
       [83000.        ],
       [67000.        ]])