In [5]:
import numpy as nm
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

#Feature Scaling

from sklearn.preprocessing import StandardScaler

In [7]:
data = pd.read_csv("./car.csv")
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [8]:
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [15]:
X_sc = StandardScaler()
X_train = X_sc.fit_transform(X_train)
X_test = X_sc.transform(X_test)

In [30]:
reg = LogisticRegression(random_state = 0)
reg.fit(X_train,y_train)

LogisticRegression(random_state=0)

In [31]:
print(reg.predict(X_sc.transform([[30,87000]])))

[1]

In [32]:
print("Y-Test : ",y_test,"Y-Pred : ",y_pred)

Y-Test :  [1 0 0 1 0 0 0 0 1 1 0 1 1 1 0 1 0 1 0 1 0 0 1 1 1 0 0 1 1 0 1 0 1 0 0 0 0
 0 1 1 0 1 0 0 0 0 0 1 1 0 1 0 0 1 1 0 0 1 0 0 0 0 1 0 1 1 1 0 1 1 0 0 1 1
 0 1 0 1 0 1 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 0 1] Y-Pred :  [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]